{
  "extends": "standard",
  "rules": {
    "no-var": "off",
    "no-undef": "off",
    "no-unused-vars": "off",
    "accessor-pairs": "off",
    "no-useless-catch": "off",
    "prefer-const": "off"
  }
}
